body {
    background-color: #00e1ff;
}

#box {
    display: block;
    width: 600px;
    height: 750px;
    margin: 0 auto;
    background-color: white;
    border-radius: 3%;
    text-align: center;
}

#logo {
    position: relative;
    font-family: 'Jua', sans-serif;
    font-size: 60px;
    color: darkblue;
    top: 3%;
}

.order {
    position: relative;
    top: 10%;
    left: 50px;
    width: 500px;
    height: 150px;
    border: 3px solid;
    font-family: 'Jua', sans-serif;
    font-size: 30px;
}

.btn {
    font-family: 'Jua', sans-serif;
    font-size: 30px;
}