body {
    background-color: #00e1ff;
}

#box {
    position: relative;
    top: 15px;
    display: block;
    width: 600px;
    height: 750px;
    margin: 0 auto;
    background-color: white;
    border-radius: 3%;
    text-align: center;
}

#logo {
    position: relative;
    font-family: 'Jua', sans-serif;
    font-size: 60px;
    color: darkblue;
    top: 3%;
}

#addrform {
    position: relative;
    font-family: 'Jua', sans-serif;
    font-size: 30px;
    top: 10%;
    border-color: black;
    border-width: 3px;
}

#homeaddr {
    position: relative;
    font-family: 'Jua', sans-serif;
    font-size: 30px;
    top: 10px;
}

.btn {
    position: relative;
    font-family: 'Jua', sans-serif;
    font-size: 30px;
    top: 10px;
}

#resetpsform {
    position: relative;
    font-family: 'Jua', sans-serif;
    font-size: 30px;
    top: 200px;
}

.text {
    font-size: 30px;
    max-width: 200px;
}

#back {
    position: relative;
    width: 60px;
    right: 250px;
    top: 20px;
}